{%  extends 'base.html' %}

{% block title %} Accessories {% endblock title %}

{% block main %}
    {%  load static %}
    <div class="row1">
        <div class="menColumn1">
            <p>Exclusiverly Available on Khito</p>
            <h1>Bata ki chppl</h1>
            <small>"Lorem ipsum dolor sit amet, co eiusmod tempor ilore magna aliqua.Ut enim ad minim veniam
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br> </small>
            <a href="/accessory/#explore_accessory" class="btn1">Explore More</a>
        </div>
        <div class="menColumn1">
            <img src="{%  static "img/hma1.png"%}" class="offerImg">
        </div>
    </div>
{% endblock main %}

{% block body %}
    {%  load static %}
    <div class="subFeatured">
        <div id="explore_accessory"></div>
        <h2 class="titleFtr">Shoes</h2>
            <div class="row1">
                {% for shoe in shoes %}
                <div class="popup" id="input_{{ shoe.product_id }}">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="cardHead">
                            <span class="cardTitle">{{ shoe.name}}</span>
                            <button class="closeBtn" onclick="togglePopup('input_{{ shoe.product_id }}')">&times;</button>
                        </div>
                        <div class="cardImg">
                            <img src="{{ shoe.product_img.url}}">
                        </div>
                        <div class="cardBody">
                            {{ shoe.desc }}
                            <p>${{ shoe.Price }}</p>
                        </div>
                    </div>
                </div>
                <div class="column4">
                    <div id="{{ shoe.product_id }}"></div>
                    <div onclick="togglePopup('input_{{ shoe.product_id }}')">
                        <img src="{{ shoe.product_img.url }}">
                        <h4>{{ shoe.name }}</h4>
                        <p>${{ shoe.Price }}</p>
                    </div>
                        {% if shoe.addedToCart %}
                            <button type="button" class="btnCart">Added To Cart</button>
                        {% else %}
                            <a href="/addToCart/{{ shoe.product_id }}/"> <button type="button" class="btnCart">Add To Cart</button></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>

    <!--------Latest Products----------->
    <div class="subFeatured">
        <h2 class="titleFtr">Watch</h2>
            <div class="row1">
                {% for watch in watches %}
                <div class="popup" id="input_{{ watch.product_id }}">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="cardHead">
                            <span class="cardTitle">{{ watch.name}}</span>
                            <button class="closeBtn" onclick="togglePopup('input_{{ watch.product_id }}')">&times;</button>
                        </div>
                        <div class="cardImg">
                            <img src="{{ watch.product_img.url}}">
                        </div>
                        <div class="cardBody">
                            {{ watch.desc }}
                            <p>${{ watch.Price }}</p>
                        </div>
                    </div>
                </div>
                <div class="column4">
                    <div id="{{ watch.product_id }}"></div>
                    <div onclick="togglePopup('input_{{ watch.product_id }}')">
                        <img src="{{ watch.product_img.url }}">
                        <h4>{{ watch.name }}</h4>
                        <p>${{ watch.Price }}</p>
                    </div>
                        {% if watch.addedToCart %}
                            <button type="button" class="btnCart">Added To Cart</button>
                        {% else %}
                            <a href="/addToCart/{{ watch.product_id }}/"> <button type="button" class="btnCart">Add To Cart</button></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>

    <!--------Latest Products----------->
    <div class="subFeatured">
        <h2 class="titleFtr">Perfume</h2>
            <div class="row1">
                {% for perfume in perfumes %}
                <div class="popup" id="input_{{ perfume.product_id }}">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="cardHead">
                            <span class="cardTitle">{{ perfume.name}}</span>
                            <button class="closeBtn" onclick="togglePopup('input_{{ perfume.product_id }}')">&times;</button>
                        </div>
                        <div class="cardImg">
                            <img src="{{ perfume.product_img.url}}">
                        </div>
                        <div class="cardBody">
                            {{ perfume.desc }}
                            <p>${{ perfume.Price }}</p>
                        </div>
                    </div>
                </div>
                <div class="column4">
                    <div id="{{ perfume.product_id }}"></div>
                    <div onclick="togglePopup('input_{{ perfume.product_id }}')">
                        <img src="{{ perfume.product_img.url }}">
                        <h4>{{ perfume.name }}</h4>
                        <p>${{ perfume.Price }}</p>
                    </div>
                        {% if perfume.addedToCart %}
                            <button type="button" class="btnCart">Added To Cart</button>
                        {% else %}
                            <a href="/addToCart/{{ perfume.product_id }}/"> <button type="button" class="btnCart">Add To Cart</button></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>

    <div class="subFeatured">
        <h2 class="titleFtr">Glasses</h2>
            <div class="row1">
                {% for glass in glasses %}
                <div class="popup" id="input_{{ glass.product_id }}">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="cardHead">
                            <span class="cardTitle">{{ glass.name}}</span>
                            <button class="closeBtn" onclick="togglePopup('input_{{ glass.product_id }}')">&times;</button>
                        </div>
                        <div class="cardImg">
                            <img src="{{ glass.product_img.url}}">
                        </div>
                        <div class="cardBody">
                            {{ glass.desc }}
                            <p>${{ glass.Price }}</p>
                        </div>
                    </div>
                </div>
                <div class="column4">
                    <div id="{{ glass.product_id }}"></div>
                    <div onclick="togglePopup('input_{{ glass.product_id }}')">
                        <img src="{{ glass.product_img.url }}">
                        <h4>{{ glass.name }}</h4>
                        <p>${{ glass.Price }}</p>
                    </div>
                        {% if glass.addedToCart %}
                            <button type="button" class="btnCart">Added To Cart</button>
                        {% else %}
                            <a href="/addToCart/{{ glass.product_id }}/"> <button type="button" class="btnCart">Add To Cart</button></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>
    <div id="offers"></div>
    <div class="subFeatured">
        <h2 class="titleFtr">OFFERS!!!</h2>
            <div class="row1">
                {% for offer in offers %}
                <div class="popup" id="input_{{ offer.product_id }}">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="cardHead">
                            <span class="cardTitle">{{ offer.name}}</span>
                            <button class="closeBtn" onclick="togglePopup('input_{{ offer.product_id }}')">&times;</button>
                        </div>
                        <div class="cardImg">
                            <img src="{{ offer.product_img.url}}">
                        </div>
                        <div class="cardBody">
                            {{ offer.desc }}
                            <p>${{ offer.Price }}</p>
                        </div>
                    </div>
                </div>
                <div class="column4">
                    <div id="{{ offer.product_id }}"></div>
                    <div onclick="togglePopup('input_{{ offer.product_id }}')">
                        <img src="{{ offer.product_img.url }}">
                        <h4>{{ offer.name }}</h4>
                        <p>${{ offer.Price }}</p>
                    </div>
                        {% if offer.addedToCart %}
                            <button type="button" class="btnCart">Added To Cart</button>
                        {% else %}
                            <a href="/addToCart/{{ offer.product_id }}/"> <button type="button" class="btnCart">Add To Cart</button></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>

{% endblock body %}

